In [10]:
import pandas as pd

dd=pd.read_csv('seoul_corona.csv',encoding='cp949')
dd

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서초구 전체,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가
0,2022.02.15.00,6377,182,5913,136,9497,218,10487,316,14122,...,16098,440,23204,819,26290,682,18556,528,28994,844
1,2022.02.14.00,6195,96,5777,91,9279,256,10171,336,13669,...,15658,386,22385,632,25608,726,18028,588,28150,735
2,2022.02.13.00,6099,184,5686,111,9023,248,9835,408,13192,...,15272,430,21753,747,24882,800,17440,664,27416,728
3,2022.02.12.00,5915,215,5575,120,8775,240,9427,237,12744,...,14842,510,21006,917,24082,738,16776,689,26688,969
4,2022.02.11.00,5700,162,5455,105,8535,241,9190,168,12325,...,14332,487,20089,546,23344,694,16087,643,25719,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,20.02.09.10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,20.02.08.10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740,20.02.07.10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
741,20.02.06.10,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,2,1
742,20.02.05.10,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0

In [11]:
dd['자치구 기준일'][0][:4]+'-'+dd['자치구 기준일'][0][5:7]

'2022-02'

In [12]:
dd=pd.read_csv('seoul_corona.csv',encoding='cp949')

ddd=dd['자치구 기준일']

for i in range(len(ddd)):
    
    if len(ddd[i])!=13:
        ddd[i]='20'+ddd[742]
for i in range(len(ddd)):
    ddd[i]= ddd[i][:4]+'-'+ ddd[i][5:7]+'-'+ddd[i][8:10]
#print(ddd)

dd['자치구 기준일']=ddd
dd

C:\Users\kk135\AppData\Local\Temp/ipykernel_24172/1751293572.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddd[i]='20'+ddd[742]
C:\Users\kk135\AppData\Local\Temp/ipykernel_24172/1751293572.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddd[i]= ddd[i][:4]+'-'+ ddd[i][5:7]+'-'+ddd[i][8:10]

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서초구 전체,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가
0,2022-02-15,6377,182,5913,136,9497,218,10487,316,14122,...,16098,440,23204,819,26290,682,18556,528,28994,844
1,2022-02-14,6195,96,5777,91,9279,256,10171,336,13669,...,15658,386,22385,632,25608,726,18028,588,28150,735
2,2022-02-13,6099,184,5686,111,9023,248,9835,408,13192,...,15272,430,21753,747,24882,800,17440,664,27416,728
3,2022-02-12,5915,215,5575,120,8775,240,9427,237,12744,...,14842,510,21006,917,24082,738,16776,689,26688,969
4,2022-02-11,5700,162,5455,105,8535,241,9190,168,12325,...,14332,487,20089,546,23344,694,16087,643,25719,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
741,2020-02-05,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,2,1
742,2020-02-05,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0

In [19]:
dd['자치구 기준일']=pd.to_datetime(dd['자치구 기준일'])

dd['분기']=dd['자치구 기준일'].dt.to_period('Q').dt.strftime('%Y %q분기')
dd

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가,분기
0,2022-02-15,6377,182,5913,136,9497,218,10487,316,14122,...,440,23204,819,26290,682,18556,528,28994,844,2022 1분기
1,2022-02-14,6195,96,5777,91,9279,256,10171,336,13669,...,386,22385,632,25608,726,18028,588,28150,735,2022 1분기
2,2022-02-13,6099,184,5686,111,9023,248,9835,408,13192,...,430,21753,747,24882,800,17440,664,27416,728,2022 1분기
3,2022-02-12,5915,215,5575,120,8775,240,9427,237,12744,...,510,21006,917,24082,738,16776,689,26688,969,2022 1분기
4,2022-02-11,5700,162,5455,105,8535,241,9190,168,12325,...,487,20089,546,23344,694,16087,643,25719,590,2022 1분기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020 1분기
739,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020 1분기
740,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020 1분기
741,2020-02-05,3,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2,1,2020 1분기
742,2020-02-05,3,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,2020 1분기

In [1]:
import pandas as pd

dd=pd.read_csv('seoul_culture_cost.csv')
dd

,기간,대분류,분류,전시회 관람,박물관 관람,음악 및 무용발표회 관람,전통예술공연 관람,연극공연 관람,극장에서 영화관람,대중공연 관람,스포츠경기 관람
0,2018,서울시,서울시,38997,14855,89475,25773,79302,47844,89850,53263
1,2018,성별,남자,40739,15613,96225,31559,81682,49898,96828,58529
2,2018,성별,여자,37765,14253,85508,21828,77781,46058,84938,42648
3,2018,연령별,10대,33440,8784,24771,10527,43544,41026,72223,37243
4,2018,연령별,20대,34220,12997,83866,19911,76353,58410,96706,54503
...,...,...,...,...,...,...,...,...,...,...,...
152,2020,관악구,관악구,18604,14519,68178,28399,102752,44671,126076,47999
153,2020,서초구,서초구,31734,22839,115779,52045,72197,47980,138748,65009
154,2020,강남구,강남구,44600,35421,134696,49326,126038,60122,143185,77915
155,2020,송파구,송파구,33480,15949,82020,27386,121255,53230,158941,81042
156,2020,강동구,강동구,27571,21087,76906,25421,92207,42922,114414,63899

In [3]:
dd=pd.read_csv('seoul_culture_count.csv')
dd

,기간,대분류,분류,전시회 관람,박물관 관람,음악 및 무용발표회 관람,전통예술공연 관람,연극공연 관람,극장에서 영화관람,대중공연 관람,스포츠경기 관람
0,2018,서울시,서울시,0.30,0.30,0.10,0.10,0.30,2.80,0.10,0.30
1,2018,성별,남자,0.20,0.30,0.10,0.10,0.30,2.70,0.10,0.40
2,2018,성별,여자,0.30,0.40,0.10,0.10,0.40,3.00,0.10,0.20
3,2018,연령별,10대,0.40,0.60,0.10,0.00,0.30,3.50,0.10,0.30
4,2018,연령별,20대,0.40,0.30,0.10,0.00,0.60,4.90,0.20,0.60
...,...,...,...,...,...,...,...,...,...,...,...
152,2020,관악구,관악구,0.36,0.27,0.13,0.07,0.42,2.46,0.17,0.27
153,2020,서초구,서초구,0.35,0.34,0.22,0.13,0.45,2.41,0.18,0.25
154,2020,강남구,강남구,0.67,0.51,0.30,0.17,0.63,3.27,0.26,0.47
155,2020,송파구,송파구,0.39,0.33,0.13,0.10,0.39,2.89,0.17,0.44
156,2020,강동구,강동구,0.25,0.16,0.07,0.06,0.33,2.07,0.12,0.23